body {
    background-color: cornflowerblue;

}
h1 {
    text-align: center;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
    background-color: black;
    border-radius: 2rem;
    max-width: 40rem;
    margin: auto;
    
}

h2, [forca] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    background-color: black;
    color: white;
    max-width: fit-content;
    margin: auto;
    padding: 10px 30px;
}


#gameBox {
    background-color: cornsilk;
    border-style: solid;
    border-radius: 1%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    max-width: 40rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size: 2rem;
}

